Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

chore: eslint ignore
  .eslintignore
Due: none

flake.lock: Update
  flake.lock
Due: none

chore: update
  .nix/yarn-lock.nix
  package.json
  yarn.lock
Due: formatting_nix

sync lock files
  .nix/yarn-lock.nix
  package.json
  yarn.lock
Due: formatting_nix

use dream2nix
  flake.lock
  flake.nix
Due: formatting_nix

yarn update
  .nix/yarn-lock.nix
  yarn.lock
Due: formatting_nix

remove old expression
  .nix/blog.nix
Due: formatting_nix

remove the yarn2nix lock
  .nix/yarn-lock.nix
Due: formatting_nix

make aarch64 a valid target
  flake.nix
Due: formatting_nix

fix hash issues for darwin
  flake.lock
  flake.nix
Due: formatting_nix

date time tweaking
  src/components/BlogPostPreview.astro
  src/components/Date.astro
Due: eslint, formatting

update JS stuff
  package.json
  yarn.lock
Due: none

fix punctuation in code
  src/pages/posts/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
Due: eslint, formatting

small code fix
  src/pages/posts/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
Due: eslint, formatting

add flake inputs artice
  src/pages/posts/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
  src/styles/blog.css
Due: eslint, formatting

fix description
  src/pages/posts/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
Due: eslint, formatting

Fixing some spelling errors
  src/pages/posts/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
Due: eslint, formatting

enable nix
  renovate.json
Due: none

system.environmentPackages -> environment.systemPackages
  src/pages/posts/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
Due: eslint, formatting

enable rss
  package.json
  src/pages/rss.xml.ts
  yarn.lock
Due: eslint, formatting

renovate settings
  renovate.json
Due: none

limit renovate schedule
  renovate.json
Due: none

remove lefthook
  lefthook.yml
Due: formatting

shellHook
  flake.nix
Due: formatting_nix

use git-hooks
  .gitignore
  flake.lock
  flake.nix
Due: formatting_nix

extract blog build
  flake.nix
  nix/blog.nix
Due: formatting_nix

extract pre-commit
  flake.nix
  nix/hooks.nix
Due: formatting_nix

fix
  nix/blog.nix
Due: formatting_nix

make sure we have at least astro 1.7
  package.json
  yarn.lock
Due: none

prepare config
  astro.config.mjs
  tsconfig.json
Due: none

content collection
  astro.config.mjs
  src/components/BlogPost.astro
  src/components/BlogPostPreview.astro
  src/components/Date.astro
  src/content/config.ts
  src/content/post/2022-07-08-hello-world.mdx
  src/content/post/2022-09-17-callpackage-a-tool-for-the-lazy.mdx
  src/content/post/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
  src/content/types.generated.d.ts
  src/pages/index.astro
  src/pages/posts/[...slug].astro
  src/pages/rss.xml.ts
  src/scripts/posts.ts
  src/scripts/tags.ts
Due: eslint, formatting

fix silently failing build
  src/components/Date.astro
  src/components/TagCloud.astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/scripts/tags.ts
Due: eslint, formatting

fix: broken date on post
  src/components/BlogPost.astro
Due: eslint, formatting

fix: pre-commit not executed
  flake.nix
Due: formatting_nix

chore: add garnix config
  garnix.yaml
Due: formatting

chore: make vscode stop complaining
  src/pages/tags/[tag].astro
Due: eslint, formatting

author collection
  src/components/BlogPost.astro
  src/content/author/nobbz.mdx
  src/content/config.ts
  src/content/post/2022-07-08-hello-world.mdx
  src/content/post/2022-09-17-callpackage-a-tool-for-the-lazy.mdx
  src/content/post/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
  src/content/types.generated.d.ts
Due: eslint, formatting

fix: installphase
  nix/blog.nix
Due: formatting_nix
