Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

chore: enable hooks for all relevant astro files
  nix/hooks.nix
Due: formatting_nix

chore: enable prettier in pre-commit
  nix/hooks.nix
Due: formatting_nix

flake.lock: Update
  flake.lock
Due: none

chore: add aarch64-linux support
  flake.nix
Due: formatting_nix

content: add another paragraph
  src/content/post/2023-01-05-12in23.mdx
Due: eslint, formatting

chore: remove generated types
  .envrc
  .gitignore
  package.json
  src/content/types.generated.d.ts
Due: eslint, formatting

chore: bump nodejs
  nix/blog.nix
Due: formatting_nix

fix: collection schema
  src/content/config.ts
Due: eslint, formatting

chore: unrelated things
  .envrc
  flake.nix
Due: formatting_nix

chore: create a bit more reliable server with rebuild functionality via nix
  flake.nix
Due: formatting_nix

chore: clean up gitignore for new generated files
  .gitignore
Due: none

fix: add blog and default
  flake.nix
  nix/blog.nix
Due: formatting_nix

content: nixos with flakes and command not found
  src/content/post/2023-02-27-nixos-flakes-command-not-found.mdx
Due: eslint, formatting

ci: fix eslint to properly work within this repo
  nix/hooks.nix
Due: formatting_nix

fix link URLs in rss feed
  src/pages/rss.xml.ts
Due: eslint, formatting

chore: add remark-mdx-code-meta to move the code meta to properties
  package.json
  yarn.lock
Due: none

refactor: use remark-mdx-code-meta instead of own module
  astro.config.mjs
  src/scripts/codeBlock.js
Due: eslint, formatting

refactor: do meta fields in the way remark-mdx-code-meta expects them
  src/content/post/2022-07-08-hello-world.mdx
  src/content/post/2022-09-17-callpackage-a-tool-for-the-lazy.mdx
  src/content/post/2022-12-12-getting-inputs-to-modules-in-a-flake.mdx
  src/content/post/2023-02-27-nixos-flakes-command-not-found.mdx
Due: eslint, formatting

chore: make serve app use nom properly
  flake.nix
Due: formatting_nix

fix: remove experimental feature that got stabilized
  astro.config.mjs
Due: none

fix: remove the postprocessing for code blocks
  astro.config.mjs
  package.json
  yarn.lock
Due: none

init gatsby
  .envrc
  .gitignore
  README.md
  flake.lock
  flake.nix
  gatsby-config.ts
  nix/blog.nix
  package.json
  src/images/icon.png
  src/pages/404.tsx
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
  yarn.nix
Due: eslint, formatting, formatting_nix

finished tutorial
  .eslintrc.js
  blog/a/index.mdx
  blog/a/rock.jpg
  blog/b/index.mdx
  blog/b/rock.jpg
  blog/c/index.mdx
  blog/c/rock.jpg
  flake.lock
  flake.nix
  gatsby-config.ts
  nix/blog.nix
  package.json
  src/components/layout.module.css
  src/components/layout.tsx
  src/components/seo.tsx
  src/declarations.d.ts
  src/images/clifford.jpg
  src/pages/about.tsx
  src/pages/blog/index.tsx
  src/pages/blog/{mdx.frontmatter__slug}.tsx
  src/pages/index.tsx
  yarn.lock
  yarn.nix
Due: eslint, formatting, formatting_nix

ci: switch to yarn build for now
  .github/workflows/deploy.yaml
Due: formatting

convert hello-world
  blog/001-hello-world/index.mdx
  package.json
  src/components/layout.module.css
  src/components/pre.tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}.tsx
  tsconfig.json
  yarn.lock
Due: eslint, formatting

convert callpackage-a-tool-for-the-lazy
  blog/001-hello-world/index.mdx
  blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  src/components/notebox.tsx
Due: eslint, formatting

convert getting-inputs-to-modules-in-a-flake
  blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  src/components/pre.tsx
Due: eslint, formatting

convert 12in23
  blog/004-12in23/index.mdx
  src/components/layout.tsx
  src/components/notebox.tsx
  src/components/pre.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}.tsx
Due: eslint, formatting

adjust blockquote
  blog/004-12in23/index.mdx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}.tsx
Due: eslint, formatting

convert nixos-flakes-command-not-found
  blog/005-nixos-flakes-command-not-found/index.mdx
Due: eslint, formatting

re-introduce hero-images
  blog/001-hello-world/hello.jpg
  blog/001-hello-world/index.mdx
  blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  blog/002-callpackage-a-tool-for-the-lazy/lazy.jpg
  blog/003-getting-inputs-to-modules-in-a-flake/enter.jpg
  blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  blog/004-12in23/index.mdx
  blog/004-12in23/lockpick.jpg
  blog/005-nixos-flakes-command-not-found/flake.jpg
  blog/005-nixos-flakes-command-not-found/index.mdx
  blog/a/index.mdx
  blog/a/rock.jpg
  blog/b/index.mdx
  blog/b/rock.jpg
  blog/c/index.mdx
  blog/c/rock.jpg
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}.tsx
Due: eslint, formatting

add teaser images
  package.json
  src/pages/index.tsx
Due: eslint, formatting

tweak image sizes
  src/pages/index.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}.tsx
Due: eslint, formatting

chore: remove a console.log
  src/components/pre.tsx
Due: eslint, formatting

disable garnix checks for now
  garnix.yaml
Due: formatting

chore: add prismjs as direct dependency
  package.json
  yarn.lock
Due: none

fix: top-level nav
  src/components/layout.tsx
Due: eslint, formatting

fix: typing
  src/pages/index.tsx
Due: eslint, formatting
