Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      runt: yarn prettier --check {staged_files}

revert: "chore: eslint"
  .eslintrc.js
  src/components/BlogHeader.astro
  src/components/BlogPost.astro
  src/components/BlogPostPreview.astro
  src/layouts/Tag.astro
  src/pages/index.astro
Due: eslint, formatting

experimenting
  astro.config.mjs
  src/layouts/Tag.astro
  src/pages/tags/index.astro
  src/styles/blog.css
Due: eslint, formatting

refactor: use aliases
  astro.config.mjs
  src/components/BaseHead.astro
  src/components/BlogPostPreview.astro
  src/components/TagCloud.astro
  src/layouts/BlogPost.astro
  src/layouts/Tag.astro
  src/pages/index.astro
  src/pages/posts/2022-07-08-hello-world.mdx
  src/pages/posts/2022-09-17-callpackage-a-tool-for-the-lazy.mdx
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  tsconfig.json
Due: eslint, formatting

refactor: make tags stylable
  src/components/Tag.astro
  src/components/TagCard.astro
Due: eslint, formatting

chore: fix some type hints in VScode
  src/components/Tag.astro
  src/scripts/posts.ts
  src/scripts/stylable.ts
Due: eslint, formatting

chore: make vscode complain less
  src/components/Author.astro
  src/components/BlogPost.astro
  src/components/Date.astro
  src/components/links/Author.astro
  src/pages/index.astro
Due: eslint, formatting

revert revert: chore: eslint
  .eslintrc.js
  src/components/BlogHeader.astro
  src/components/BlogPost.astro
  src/components/BlogPostPreview.astro
  src/pages/index.astro
Due: eslint, formatting

chore: remove @apply
  src/components/TagCloud.astro
Due: eslint, formatting

chore: add astro-icons
  .nix/yarn-lock.nix
  astro.config.mjs
  package.json
  yarn.lock
Due: none

fix: '[Object object]' author
  src/components/links/Author.astro
  src/scripts/stylable.ts
Due: eslint, formatting

refactor: replace source-code icon
  src/components/BlogHeader.astro
  src/icons/mdi-xml.svg
Due: eslint, formatting

refactor: replace tag icon
  src/components/Tag.astro
  src/icons/mdi-tag.svg
Due: eslint, formatting

refactor: replace gitlab icon
  src/components/links/GitLab.astro
  src/icons/mdi-gitlab.svg
Due: eslint, formatting

refactor: replace github icon
  src/components/links/GitHub.astro
  src/icons/mdi-github.svg
Due: eslint, formatting

fix: add pencil icon to note box
  src/components/NoteBox.astro
Due: eslint, formatting

refactor: replace twitter icon
  src/components/links/Twitter.astro
  src/icons/mdi-twitter.svg
Due: eslint, formatting

fix: remove fontawesome
  src/components/BaseHead.astro
  src/layouts/Tag.astro
  src/pages/tags/index.astro
Due: eslint, formatting

chore: enable robot.txt
  .nix/yarn-lock.nix
  astro.config.mjs
  package.json
  yarn.lock
Due: none

chore: generate sitemap
  .nix/yarn-lock.nix
  astro.config.mjs
  package.json
  yarn.lock
Due: none

refactor: move out derivation
  .nix/blog.nix
  .nix/yarn-lock.nix
  flake.nix
  package.json
Due: none

chore: add nix formatter
  flake.lock
  flake.nix
  lefthook.yml
Due: formatting

chore: update flake
  flake.lock
Due: none

fixup! chore: add nix formatter
  lefthook.yml
Due: formatting

refactor: flake.nix
  flake.nix
Due: none

feature: add base layout
  src/layouts/NobbzDev.astro
Due: eslint, formatting

chore: add lodash and seedrandom
  .nix/yarn-lock.nix
  package.json
  yarn.lock
Due: none

refactor: blogpost uses base layout
  src/layouts/BlogPost.astro
Due: eslint, formatting

refactor: tag-index uses base layout
  src/layouts/NobbzDev.astro
  src/pages/tags/index.astro
Due: eslint, formatting

feat: stable randomized tag cloud order
  src/components/TagCloud.astro
Due: eslint, formatting

refactor: index uses base layout
  src/pages/index.astro
Due: eslint, formatting

chore: only lint lintables
  lefthook.yml
Due: formatting

chore: remove superflous console.log
  src/layouts/BlogPost.astro
Due: eslint, formatting

chore: add codeBlocks plugin
  astro.config.mjs
  src/scripts/codeBlock.js
Due: eslint, formatting

chore: add a test attribute to a source block
  src/pages/posts/2022-07-08-hello-world.mdx
Due: eslint, formatting

chore: update @astrojs/mdx
  package.json
  yarn.lock
Due: none

chore: add filname to all code blocks
  src/pages/posts/2022-07-08-hello-world.mdx
  src/pages/posts/2022-09-17-callpackage-a-tool-for-the-lazy.mdx
Due: eslint, formatting

chore: always lint everything
  lefthook.yml
Due: formatting

fix: permission errors during nix build
  .nix/blog.nix
  .nix/yarn-lock.nix
  astro.config.mjs
  src/scripts/codeBlock.js
  src/styles/blog.css
  vite.config.js
Due: eslint, formatting

chore: remove preact
  .nix/yarn-lock.nix
  package.json
  yarn.lock
Due: none

chore: node dependency updates
  .nix/yarn-lock.nix
  package.json
  yarn.lock
Due: none
