Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

flake.lock: Add
  flake.lock
Due: none

starting with redesign
  .gitignore
  _config.ts
  deno.lock
  src/_includes/layouts/page.vto
  src/css/main.css
  src/index.md
Due: eslint, formatting

try starting a drv
  deno.lock
  nix/blog.nix
Due: formatting_nix

make nix-buildable
  deno.lock
  nix/blog.nix
Due: formatting_nix

add MDX 'template's
  _config.ts
  deno.lock
  nix/blog.nix
Due: eslint, formatting, formatting_nix

move posts to a discovered location
  src/_includes/layouts/blog.vto
  src/_includes/layouts/page.vto
  src/blog/2022-07-08-hello-world/hello.jpg
  src/blog/2022-07-08-hello-world/index.mdx
  src/blog/2022-09-17-callpackage-a-tool-for-the-lazy/index.mdx
  src/blog/2022-09-17-callpackage-a-tool-for-the-lazy/lazy.jpg
  src/blog/2022-12-12-getting-inputs-to-modules-in-a-flake/enter.jpg
  src/blog/2022-12-12-getting-inputs-to-modules-in-a-flake/index.mdx
  src/blog/2023-01-05-12in23/index.mdx
  src/blog/2023-01-05-12in23/lockpick.jpg
  src/blog/2023-02-27-nixos-flakes-command-not-found/flake.jpg
  src/blog/2023-02-27-nixos-flakes-command-not-found/index.mdx
  src/blog/_data.yaml
  src/css/main.css
Due: eslint, formatting

fix deploy
  .github/workflows/deploy.yaml
Due: formatting

play with nix expression, remains broken
  .envrc
  deno.json
  deno.lock
  nix/blog.nix
Due: formatting_nix

not nix related workflow
  .github/workflows/deploy.yaml
Due: formatting

add post overview
  deno.json
  deno.lock
  src/blog.page.tsx
  src/blog/_data.yaml
Due: eslint, formatting

re-enable local deno cache
  .envrc
Due: none

URLs with date!
  deno.lock
  src/blog/_data.ts
Due: eslint, formatting

move data from yaml to TS
  src/blog/_data.ts
  src/blog/_data.yaml
Due: eslint, formatting

add trailing slash to generated pagination URLs
  src/blog.page.tsx
Due: eslint, formatting

ci: use DS installer
  .github/workflows/deploy.yaml
Due: formatting

init new astro
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  README.md
  astro.config.mjs
  package.json
  public/favicon.svg
  src/env.d.ts
  src/pages/index.astro
  tsconfig.json
Due: eslint, formatting

first draft of the layout
  .prettierrc.mjs
  .vscode/settings.json
  astro.config.mjs
  flake.lock
  flake.nix
  package.json
  renovate.json
  src/components/Typography.ts
  src/components/typography/H1.astro
  src/content/blog/001-hello-world/hello.jpg
  src/content/blog/001-hello-world/index.mdx
  src/content/blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  src/content/blog/002-callpackage-a-tool-for-the-lazy/lazy.jpg
  src/content/blog/003-getting-inputs-to-modules-in-a-flake/enter.jpg
  src/content/blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  src/content/blog/004-12in23/index.mdx
  src/content/blog/004-12in23/lockpick.jpg
  src/content/blog/005-nixos-flakes-command-not-found/flake.jpg
  src/content/blog/005-nixos-flakes-command-not-found/index.mdx
  src/content/config.ts
  src/env.d.ts
  src/layouts/NobbzDev.astro
  src/pages/blog/[date]-[slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/base.css
  tailwind.config.mjs
  tsconfig.json
  yarn.lock
Due: eslint, formatting, formatting_nix

fix the routing
  flake.lock
  flake.nix
  src/components/typography/H1.astro
  src/content/blog/001-hello-world/index.mdx
  src/content/blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  src/content/blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  src/content/blog/004-12in23/index.mdx
  src/content/blog/005-nixos-flakes-command-not-found/index.mdx
  src/content/config.ts
  src/layouts/NobbzDev.astro
  src/pages/blog/[date]-[slug].astro
  src/pages/blog/index.astro
Due: eslint, formatting, formatting_nix

make the callpackage article work
  src/components/NoteBox.astro
  src/content/blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  src/styles/base.css
  tailwind.config.mjs
Due: eslint, formatting

style pre-component a bit
  src/components/Typography.ts
  src/components/typography/Pre.astro
  src/pages/blog/[date]-[slug].astro
  src/scripts/components.ts
Due: eslint, formatting

add mdx-language-server to dev deps
  flake.nix
  package.json
  yarn.lock
Due: formatting_nix

make the inputs to modules article work
  src/content/blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
Due: eslint, formatting

tweak post list
  src/content/config.ts
  src/pages/blog/index.astro
Due: eslint, formatting

Make the 12in23 article working
  src/content/blog/004-12in23/index.mdx
Due: eslint, formatting

fix huge gap at the end of code boxes
  src/components/Typography.ts
  src/components/typography/Pre.astro
  src/pages/blog/[date]-[slug].astro
  src/styles/base.css
Due: eslint, formatting

relative date in blog list
  package.json
  src/components/Date.astro
  src/pages/blog/index.astro
  src/scripts/components.ts
  yarn.lock
Due: eslint, formatting

extend what nix fmt does
  flake.nix
Due: formatting_nix

fix formatting
  src/scripts/paths.ts
Due: eslint, formatting

Tweak style of modules to flake article
  src/styles/base.css
Due: none

some more redesign
  src/components/PostPreview.astro
  src/pages/blog/[date]-[slug].astro
  src/pages/blog/index.astro
  src/styles/base.css
Due: eslint, formatting

Tweak style of 12in23 article
  src/styles/base.css
Due: none

extract PostPreview
  src/components/PostPreview.astro
  src/pages/blog/index.astro
Due: eslint, formatting

stop the container from jumping around
  src/components/PostPreview.astro
Due: eslint, formatting

tweak author display in post listing
  src/content/authors/nobbz.mdx
  src/content/config.ts
  src/pages/blog/index.astro
Due: eslint, formatting

fix minor issues on callpackage article
  src/content/blog/002-callpackage-a-tool-for-the-lazy/index.mdx
Due: eslint, formatting

path helpers
  src/pages/blog/index.astro
  src/scripts/paths.ts
Due: eslint, formatting

dim date color a bit
  src/components/PostPreview.astro
Due: eslint, formatting

avoid even more jumping around
  src/pages/blog/[date]-[slug].astro
Due: eslint, formatting
