Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

chore: fix generated types
  src/gatsby-types.d.ts
Due: eslint, formatting

test: article preview component
  src/components/articlepreview.tsx
  tests/components/articlepreview.test.tsx
Due: eslint, formatting

test: comments component
  tests/components/comments.test.tsx
Due: eslint, formatting

test: add config
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  tsconfig.json
Due: eslint, formatting

chore: add required packages
  package.json
  yarn.lock
Due: none

test: tag
  jest.config.js
  package.json
  setup-test-env.js
  src/gatsby-types.d.ts
  src/templates/tags.tsx
  tests/example.test.tsx
  tests/templates/tags.test.tsx
  yarn.lock
Due: eslint, formatting

test: fix icon tests
  package.json
  src/templates/tags.tsx
  tests/templates/tags.test.tsx
  yarn.lock
Due: eslint, formatting

ci: add preflight tests
  .github/workflows/deploy.yaml
Due: formatting

chore: silence type-error in test file
  tests/components/layout.test.tsx
Due: eslint, formatting

ci: enable typecheck
  .github/workflows/deploy.yaml
Due: formatting

chore: add packages
  package.json
  yarn.lock
Due: none

feature: add readingtime plugin
  plugins/gatsby-plugin-readtime-nz/gatsby-node.ts
  plugins/gatsby-plugin-readtime-nz/package.json
Due: eslint, formatting

feature: enable readingTime plugin
  gatsby-config.ts
Due: eslint, formatting

feature: display reading time on preview
  src/components/articlepreview.tsx
  src/gatsby-types.d.ts
  src/pages/index.tsx
  src/templates/tags.tsx
Due: eslint, formatting

refactor: use a fragment for post previews
  src/components/articlepreview.tsx
  src/gatsby-types.d.ts
  src/pages/index.tsx
  src/templates/tags.tsx
Due: eslint, formatting

refactor: blog type
  gatsby-config.ts
  package.json
  plugins/gatsby-transformer-source-split/gatsby-node.ts
  plugins/gatsby-transformer-source-split/package.json
  src/components/articlepreview.tsx
  src/gatsby-types.d.ts
  src/pages/index.tsx
  src/pages/{blog.date}-{blog.slug}/index.tsx
  src/templates/tags.tsx
  tests/components/articlepreview.test.tsx
  tsconfig.json
  yarn.lock
Due: eslint, formatting

feature: add author pages
  author/nobbz.mdx
  gatsby-config.ts
  plugins/gatsby-transformer-source-split/gatsby-node.ts
  src/gatsby-types.d.ts
  src/pages/author/{author.slug}/index.tsx
Due: eslint, formatting

chore: remove a debug output that has been left in
  gatsby-config.ts
  plugins/gatsby-plugin-readtime-nz/gatsby-node.ts
  plugins/gatsby-transformer-nz-author/gatsby-node.ts
  plugins/gatsby-transformer-nz-author/package.json
  plugins/gatsby-transformer-nz-blog/gatsby-node.ts
  plugins/gatsby-transformer-nz-blog/package.json
  plugins/gatsby-transformer-source-split/gatsby-node.ts
  plugins/gatsby-transformer-source-split/package.json
Due: eslint, formatting

feature: add list of articles to author
  plugins/gatsby-transformer-nz-author/gatsby-node.ts
  src/components/articlepreview.tsx
  src/gatsby-types.d.ts
  src/pages/author/{author.slug}/index.tsx
Due: eslint, formatting

feature: add linkedin support
  author/nobbz.mdx
  src/gatsby-types.d.ts
  src/pages/author/{author.slug}/index.tsx
Due: eslint, formatting

feature: display author in blogpost
  blog/001-hello-world/index.mdx
  blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  blog/004-12in23/index.mdx
  blog/005-nixos-flakes-command-not-found/index.mdx
  plugins/gatsby-transformer-nz-blog/gatsby-node.ts
  src/gatsby-types.d.ts
  src/pages/{blog.date}-{blog.slug}/index.tsx
Due: eslint, formatting

refactor: use author page for about
  src/components/layout.tsx
  src/pages/about.tsx
  tests/components/layout.test.tsx
Due: eslint, formatting

chore: alphabetize social list
  author/nobbz.mdx
  src/pages/author/{author.slug}/index.tsx
Due: eslint, formatting

feature: add author link to article
  src/pages/{blog.date}-{blog.slug}/index.tsx
Due: eslint, formatting

feature: add wishlist support
  author/nobbz.mdx
  src/gatsby-types.d.ts
  src/pages/author/{author.slug}/index.tsx
Due: eslint, formatting

feature: add ko-fi support
  author/nobbz.mdx
  src/gatsby-types.d.ts
  src/pages/author/{author.slug}/index.tsx
Due: eslint, formatting

fix: missing excerpt
  plugins/gatsby-transformer-nz-blog/gatsby-node.ts
Due: eslint, formatting

flake.lock: Update
  flake.lock
Due: none

chore: use node 20
  flake.nix
Due: formatting_nix

chore: use node 20
  .tool-versions
Due: none

bump prettier
  package.json
  yarn.lock
Due: none

chore: replace react-app with react-eslint directly (nroken)
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint, formatting

fix: fix all the prop-types warnings (broken)
  src/components/layout.tsx
  src/components/mdxwrapper.tsx
  src/components/notebox.tsx
  src/pages/tags/index.tsx
  src/templates/tags.tsx
Due: eslint, formatting

chore: ignore even more lint warnings
  src/components/pre.tsx
Due: eslint, formatting

follow 'get started'
  config.toml
  content/blog/_index.md
  content/blog/first.md
  content/blog/second.md
  public/elasticlunr.min.js
  public/search_index.en.js
  sass/.keep
  static/.keep
  templates/base.html
  templates/blog-page.html
  templates/blog.html
  templates/index.html
  themes/.keep
Due: eslint, formatting

another cleanup
  .gitignore
  content/blog/first.md
  content/blog/second.md
  content/posts/_index.md
  public/elasticlunr.min.js
  public/search_index.en.js
Due: eslint, formatting

wip
  .gitignore
  config.toml
  content/authors/_index.md
  content/imprint.md
  content/posts/2022-07-08-hello-world/hello.jpg
  content/posts/2022-07-08-hello-world/index.md
  flake.nix
  package.json
  sass/.keep
  styles/styles.css
  tailwind.config.js
  templates/base.html
  templates/page.html
  templates/taxonomy_list.html
  templates/taxonomy_single.html
  yarn.lock
Due: eslint, formatting, formatting_nix

use nixpkgs nil
  flake.nix
Due: formatting_nix
