Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

extract navbox
  src/components/NavBox.astro
  src/components/NavItem.astro
  src/layouts/NobbzDev.astro
Due: eslint, formatting

add tool versions (for CI)
  .tool-versions
Due: none

completely comment the preflight
  .github/workflows/deploy.yaml
Due: formatting

ensure typechecks
  .github/workflows/deploy.yaml
  .pre-commit-config.yaml
  src/env.d.ts
Due: eslint, formatting

upload correct folder
  .github/workflows/deploy.yaml
Due: formatting

Ensure formatting
  .github/workflows/deploy.yaml
  .pre-commit-config.yaml
  flake.nix
  src/components/NavItem.astro
  src/components/PostPreview.astro
Due: eslint, formatting, formatting_nix

do not depend on preflight
  .github/workflows/deploy.yaml
Due: formatting

explicitely set empty list
  .github/workflows/deploy.yaml
Due: formatting

update external hooks
  .pre-commit-config.yaml
Due: formatting

disable preflight for now
  .github/workflows/deploy.yaml
Due: formatting

add eslint
  .pre-commit-config.yaml
  eslint.config.mjs
  package.json
  src/env.d.ts
  tsconfig.json
  yarn.lock
Due: eslint, formatting

fix the 'type' check
  .pre-commit-config.yaml
Due: formatting

remove unneeded code
  src/env.d.ts
Due: eslint, formatting

extract blog schema into its own file
  src/content/config.ts
  src/content/schemas/blog.ts
Due: eslint, formatting

add imprint
  src/components/NavBox.astro
  src/pages/imprint/index.astro
Due: eslint, formatting

fix CI 'type' check
  .github/workflows/deploy.yaml
Due: formatting

use modules proper in tailwind config
  tailwind.config.mjs
Due: none

rework author schema
  src/content/authors/nobbz.mdx
  src/content/config.ts
Due: eslint, formatting

initial draft of an authors detail page
  src/pages/authors/[slug].astro
  src/scripts/paths.ts
Due: eslint, formatting

fix a malformed URL in a link
  src/content/blog/004-12in23/index.mdx
Due: eslint, formatting

…
  .tool-versions
Due: none

mixed chagnes and formatting :(
  src/content/schemas/authors.ts
  src/layouts/NobbzDev.astro
  src/scripts/authors.ts
  src/styles/base.css
  tailwind.config.mjs
Due: eslint, formatting

fix typeannotation
  .prettierrc.mjs
Due: none

fix name in eslint config
  eslint.config.mjs
Due: none

create author index page
  src/components/NavBox.astro
  src/pages/authors/index.astro
  src/scripts/authors.ts
Due: eslint, formatting

fix imprint
  src/pages/imprint/index.astro
Due: eslint, formatting

update gitignore
  .gitignore
Due: none

add more menu
  src/components/NavBox.astro
  src/env.d.ts
Due: eslint, formatting

extract authors schema into its own file
  src/content/config.ts
  src/content/schemas/authors.ts
Due: eslint, formatting

delete VScode things
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

fix build
  src/pages/authors/index.astro
Due: eslint, formatting

add catppuccin as a depenendency
  package.json
  tailwind.config.mjs
  yarn.lock
Due: none

rework spacing in navbox
  src/components/NavBox.astro
  src/components/NavItem.astro
Due: eslint, formatting

adjust border color
  src/components/NavBox.astro
  src/layouts/NobbzDev.astro
Due: eslint, formatting

update TS-lint
  package.json
  yarn.lock
Due: none

update astro to 5.x
  package.json
  yarn.lock
Due: none

enable legacy collections (for now)
  astro.config.mjs
Due: none

let code blocks use catppuccin-mocha
  astro.config.mjs
Due: none

always scrollbar
  src/layouts/NobbzDev.astro
Due: eslint, formatting

some global style adjustments
  src/styles/base.css
Due: none
