Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

global header
  src/layouts/NobbzDev.astro
Due: eslint, formatting

fix some boxes
  src/components/NavBox.astro
  src/layouts/NobbzDev.astro
Due: eslint, formatting

formatting
  astro.config.mjs
  src/styles/base.css
Due: none

scrollbar styles
  src/layouts/NobbzDev.astro
  src/styles/base.css
Due: eslint, formatting

author page title
  src/pages/authors/[slug].astro
Due: eslint, formatting

allow augment
  .envrc
Due: none

adjust eslint ignore patterns
  eslint.config.mjs
Due: none

rename package-json project name
  package.json
Due: none

introduce pagination
  src/components/PaginateButton.astro
  src/pages/blog/[page].astro
  src/pages/blog/index.astro
Due: eslint, formatting

docs for sorter
  src/scripts/sorter.ts
Due: eslint, formatting

refactor sorting
  src/pages/blog/[page].astro
  src/scripts/sorter.ts
Due: eslint, formatting

adjust layout
  src/components/NavBox.astro
  src/layouts/NobbzDev.astro
Due: eslint, formatting

licensing
  package.json
Due: none

fix breakpoints for author view
  src/components/PostPreview.astro
Due: eslint, formatting

fix Unsplash license reference for reuse
  LICENSES/LicenseRef-Unsplash.txt
  src/content/blog/001-hello-world/hello.jpg.license
  src/content/blog/002-callpackage-a-tool-for-the-lazy/lazy.jpg.license
  src/content/blog/003-getting-inputs-to-modules-in-a-flake/enter.jpg.license
  src/content/blog/004-12in23/lockpick.jpg.license
  src/content/blog/005-nixos-flakes-command-not-found/flake.jpg.license
Due: none

formatting
  src/components/Date.astro
  src/components/NavBox.astro
  src/components/NavItem.astro
  src/components/NoteBox.astro
  src/components/PaginateButton.astro
  src/components/PostPreview.astro
  src/components/Typography.ts
  src/components/typography/H1.astro
  src/content/authors/nobbz.mdx
  src/content/blog/001-hello-world/index.mdx
  src/content/blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  src/content/blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  src/content/blog/004-12in23/index.mdx
  src/content/blog/005-nixos-flakes-command-not-found/index.mdx
  src/content/config.ts
  src/content/schemas/authors.ts
  src/content/schemas/blog.ts
  src/pages/authors/index.astro
  src/pages/blog/[date]-[slug].astro
  src/pages/blog/[page].astro
  src/pages/blog/index.astro
  src/pages/imprint/index.astro
  src/pages/index.astro
  src/scripts/authors.ts
  src/scripts/paths.ts
Due: eslint, formatting

clean up commented codeblocks
  flake.nix
Due: formatting_nix

readme
  README.md
Due: eslint, formatting

add a readme
  README.md
Due: eslint, formatting

flake.lock: Update
  flake.lock
Due: none

sync tool-version with nixpkgs
  .tool-versions
Due: none

update node deps
  package.json
  yarn.lock
Due: none

add shiki transforer to get the filename into the pre
  astro.config.mjs
  src/scripts/filename-transformer.ts
Due: eslint, formatting

make match non-greedy
  src/scripts/filename-transformer.ts
Due: eslint, formatting

show title frame for code blocks with a `data-filename` attribute
  src/scripts/filename-transformer.ts
Due: eslint, formatting

type annotations
  src/scripts/filename-transformer.ts
Due: eslint, formatting

classlist refactor
  src/scripts/filename-transformer.ts
Due: eslint, formatting

tweak how it looks
  src/scripts/filename-transformer.ts
Due: eslint, formatting

make sure transformer to not crash on missing options in the context
  src/scripts/filename-transformer.ts
Due: eslint, formatting

ensure the class exists on the nodes properties
  src/scripts/filename-transformer.ts
Due: eslint, formatting

update @types/luxon
  .pre-commit-config.yaml
  yarn.lock
Due: formatting

update typescript
  yarn.lock
Due: none

update @mdx-js/language-server
  package.json
  yarn.lock
Due: none

update eslint
  package.json
  yarn.lock
Due: none

update typescript-eslint
  package.json
  yarn.lock
Due: none

update astro
  package.json
  yarn.lock
Due: none

update nodejs
  .tool-versions
  flake.nix
Due: formatting_nix
