Repository NobbZ/blog-nobbz-dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, formatting, formatting_nix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn eslint .
    formatting:
      glob: '*.{yaml,yml,js,ts,jsx,tsx,astro,md,mdx,cjs,ts}'
      run: yarn prettier --check {staged_files}
    formatting_nix:
      glob: '*.nix'
      run: nix fmt -- --check .

fix: add comments again
  src/components/comments.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}.tsx
Due: eslint, formatting

chore: tweak eslint config
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint, formatting

chore: tweak gitignore
  .gitignore
Due: none

remove clifford picture
  src/images/clifford.jpg
Due: none

initialize tailwind
  gatsby-browser.js
  gatsby-config.ts
  package.json
  postcss.config.js
  src/styles/article.css
  src/styles/global.css
  tailwind.config.js
  yarn.lock
Due: eslint, formatting

deps: add typed css modules
  package.json
  yarn.lock
Due: none

refactor: move some base styling around
  src/styles/article.css
  src/styles/global.css
Due: none

refactor: article styling
  .eslintrc.js
  .prettierignore
  prettier.config.js
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css.d.ts
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
Due: eslint, formatting

refactor: styling of notebox
  src/components/notebox.module.css
  src/components/notebox.module.css.d.ts
  src/components/notebox.tsx
  src/styles/global.css.d.ts
Due: eslint, formatting

refactor: remove all the styling from pre
  src/components/pre.tsx
Due: eslint, formatting

refactor: restyle the layout
  src/components/layout.module.css
  src/components/layout.module.css.d.ts
  src/components/layout.tsx
Due: eslint, formatting

deps: add ramda
  package.json
  yarn.lock
Due: none

chore: add some git hook for css modules
  nix/hooks.nix
Due: formatting_nix

chore: fix some nix lint
  nix/hooks.nix
Due: formatting_nix

fix: add scrollbars to code blocks
  src/components/pre.tsx
Due: eslint, formatting

fix: missing style for lists and inline code
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css
Due: none

css: some more styling
  src/components/layout.module.css
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
  src/styles/global.css
Due: eslint, formatting

chore: some better types
  gatsby-node.ts
  graphql.config.js
  src/components/pre.tsx
  src/components/seo.tsx
  src/declarations.d.ts
  src/pages/index.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
Due: eslint, formatting

style: first session of tailwind
  src/components/layout.module.css
  src/components/layout.tsx
  src/components/mdxwrapper.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
  src/styles/global.css
Due: eslint, formatting

style: tweak blockquote (but it is not perfect)
  src/components/mdxwrapper.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css
  tailwind.config.js
Due: eslint, formatting

finalize tailwind
  src/components/layout.module.css
  src/components/layout.module.css.d.ts
  src/components/layout.tsx
  src/components/mdxwrapper.tsx
  src/components/notebox.module.css
  src/components/notebox.module.css.d.ts
  src/components/notebox.tsx
  src/components/pre.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/article.module.css.d.ts
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
  tailwind.config.js
Due: eslint, formatting

fix lints
  gatsby-node.ts
  src/components/index.ts
  src/components/layout.tsx
  src/components/mdxwrapper.tsx
  src/components/notebox.tsx
  src/components/pre.tsx
  src/components/seo.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
  tsconfig.json
Due: eslint, formatting

fix: build error
  blog/002-callpackage-a-tool-for-the-lazy/index.mdx
  blog/003-getting-inputs-to-modules-in-a-flake/index.mdx
  blog/004-12in23/index.mdx
  src/components/index.ts
  src/components/mdxwrapper.tsx
  src/components/pre.tsx
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
Due: eslint, formatting

adjust git-hooks
  nix/hooks.nix
Due: formatting_nix

add icons to post date and license link
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
Due: eslint, formatting

fix the main page
  src/pages/index.tsx
Due: eslint, formatting

yarn-update
  yarn.lock
Due: none

feature: make teaser image a link to the article
  src/pages/index.tsx
Due: eslint, formatting

refactor: use a variable for link target
  src/pages/index.tsx
Due: eslint, formatting

fix: margin of code blocks
  src/components/pre.tsx
Due: eslint, formatting

chore: generate gatsby-types on build
  gatsby-config.ts
Due: eslint, formatting

chore: add gatsby-types to git
  .gitignore
  src/gatsby-types.d.ts
Due: eslint, formatting

chore: ignore the generated types for prettier
  nix/hooks.nix
Due: formatting_nix

chore: add tooltip for icon
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
Due: eslint, formatting

first draft
  gatsby-node.ts
  package.json
  src/components/articlepreview.tsx
  src/components/index.ts
  src/components/layout.tsx
  src/gatsby-types.d.ts
  src/pages/index.tsx
  src/pages/tags/index.tsx
  src/templates/tags.tsx
  yarn.lock
Due: eslint, formatting

fix: relative links for articles in preview
  .prettierignore
  nix/hooks.nix
  src/components/articlepreview.tsx
Due: eslint, formatting, formatting_nix

feature: implement tag could
  package.json
  src/pages/tags/index.tsx
  src/templates/tags.tsx
  yarn.lock
Due: eslint, formatting

tweaking the look of the tags and cloud
  src/pages/tags/index.tsx
  src/templates/tags.tsx
Due: eslint, formatting

feature: tag in index
  src/components/articlepreview.tsx
  src/gatsby-types.d.ts
  src/pages/index.tsx
  src/templates/tags.tsx
Due: eslint, formatting

feature: make sure tags are on the article page
  gatsby-node.ts
  src/gatsby-types.d.ts
  src/pages/{mdx.frontmatter__date}-{mdx.frontmatter__slug}/index.tsx
Due: eslint, formatting
